.bank-departments {
  @include centered-layout;
}

.bank-departments__title {
  margin: 0;
  margin-bottom: 55px;

  font-size: 41px;
  line-height: 140%;
  font-weight: 700;
}

.bank-departments__map-wrapper {
  position: relative;
}

.bank-departments__map {
  display: flex;
}

.bank-departments__blip {
  position: absolute;

  &--moscow {
    top: 247px;
    left: 69px;
  }

  &--saratov {
    top: 401px;
    left: 249px;
  }

  &--kazan {
    top: 247px;
    left: 315px;
  }

  &--tyumen {
    top: 195px;
    left: 668px;
  }

  &--omsk {
    top: 276px;
    left: 836px;
  }
}
