.calculation-form {
  display: flex;
  align-items: flex-start;
}

.calculation-form__form-column-wrapper {
  width: 600px;
  margin-right: 70px;
}

.calculation-form__step-field-area {
  margin: 0;
  padding: 0;
  border: none;
}

.calculation-form__step-legend {
  font-size: 22px;
  line-height: 140%;
  font-weight: 500;
}

.calculation-form__input-field-row {
  display: flex;
  flex-direction: column;
}

.calculation-form__label {
  color: $faded-black;
}

.calculation-form__field-description {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 140%;

  color: $faded-gray;
}

.calculation-form__input-with-operations {
  position: relative;
}

.calculation-form__select-field,
.calculation-form__input {
  width: 100%;
  padding: 20px;

  line-height: 140%;
  border: 1px solid $black;
  border-radius: 4px;
}

.calculation-form__select-field {
  font-weight: 500;

  background-image: url("../assets/img/icon-select-drop.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;

  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.calculation-form__input {
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.calculation-form__input--number::-webkit-outer-spin-button,
.calculation-form__input--number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculation-form__operation-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;

  width: 60px;
  height: 60px;
  padding: 0;

  background-color: transparent;
  border: none;

  &--minus {
    left: 0;
  }

  &--plus {
    right: 0;
  }
}

.calculation-form__checkbox-label {
  position: relative;
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 16px;
    height: 16px;

    background-image: url("../assets/img/icon-checkbox-unchecked.svg");
    background-repeat: no-repeat;
  }
}

.calculation-form__checkbox:checked ~ .calculation-form__checkbox-label::before {
  background-image: url("../assets/img/icon-checkbox-checked.svg");
}



.calculation-form__result {
  width: 500px;
  padding: 60px;
  padding-left: 58px;
  background-color: $light-gray;
}

.calculation-form__result-title {
  margin: 0;

  font-size: 22px;
  line-height: 140%;
  font-weight: 500;
}

.calculation-form__offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.calculation-form__offer-item {
  display: flex;
  flex-direction: column;
  width: 180px;

  &:nth-of-type(2n) {
    width: 156px;
  }
}

.calculation-form__offer-title {
  order: 1;
  color: $faded-black;
}

.calculation-form__offer-value {
  margin: 0;

  font-size: 22px;
  line-height: 140%;
  font-weight: 500;
}

.calculation-form__request-button {
  width: 100%;
  line-height: 140%;
}
