.contact-address {
  width: 252px;
}

.contact-address__logo {
  margin-bottom: 16px;
}

.contact-address__address,
.contact-address__copyright {
  font-size: 12px;
  line-height: 17px;
  font-style: normal;
  color: $faded-gray;
}

.contact-address__copyright {
  margin: 0;
}
