.credit-calculator {
  @include centered-layout;

  margin-bottom: 97px;
  padding-top: 97px;
}

.credit-calculator__title {
  margin: 0;
  margin-bottom: 49px;

  font-size: 41px;
  line-height: 140%;
}

@media (max-width: $tablet-max-width) {
  .credit-calculator {
    // TODO: move to mixin centered layout
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
  }
}
