.credit-calculator {
  @include centered-layout;

  margin-bottom: 97px;
  padding-top: 97px;
}

.credit-calculator__title {
  margin: 0;
  margin-bottom: 49px;

  font-size: 41px;
  line-height: 140%;
}

@media (min-width: $desktop-threshold) {
  .credit-calculator {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: $tablet-max-width) {
  .credit-calculator {
    margin-bottom: 69px;
    padding-left: $tablet-paddings;
    padding-right: $tablet-paddings;
    padding-top: 69px;
  }

  .credit-calculator__title {
    margin-bottom: 28px;
    font-size: 32px;
  }
}

@media (max-width: $mobile-max-width) {
  .credit-calculator {
    margin-bottom: 54px;
    padding-top: 54px;
    padding-left: $mobile-paddings;
    padding-right: $mobile-paddings;
  }

  .credit-calculator__title {
    margin-bottom: 22px;
    font-size: 22px;
  }
}

