.credit-requested-popup {
  align-items: center;
  padding-top: 53px;
  padding-left: 58px;
}

.credit-requested-popup__title {
  margin-bottom: 12px;
}

.credit-requested-popup__description {
  text-align: center;
}

.credit-requested-popup__close-button {
  top: 29px - $close-button-offset;
  right: 29px - $close-button-offset;
}
