.main-navigation {
  @include centered-layout;

  display: flex;
  align-items: center;
  min-height: 91px;
}

.main-navigation__logo {
  flex-shrink: 0;
  margin-right: 109px;
  margin-bottom: 12px;
}

.main-navigation__site-navigation {
  flex-shrink: 0;
}

.main-navigation__login {
  flex-shrink: 0;
  margin-left: auto;
}

@media (max-width: $tablet-max-width) {
  .main-navigation {
    // TODO: move to mixin centered layout
    width: 100%;
    min-height: 69px;

    padding-right: 45px;
    padding-left: 45px;
  }

  .main-navigation__logo {
    margin-bottom: 1px;
    margin-right: 65px;
  }

  .main-navigation__site-navigation {
    margin-top: 2px;
  }
}
