.promo-slider {
  position: relative;
}

.promo-slider__list {
  @include list-reset;
}

.promo-slider__item {
  padding-top: 115px;
  padding-bottom: 60px;
  padding-left: 268px;

  min-height: 400px;
  background-repeat: no-repeat;

  &--credit {
    background-color: $blue;
    background-image: url("../assets/img/main-banner-bg.png");
  }

  &--confidence {
    // TODO: REMOVE DISPLAY: NONE WHEN I WILL MOVE TO REACT LOGIC DESCRIPTION
    display: none;
    background-color: #DDE2EC;
    background-image: url("../assets/img/a-man-in-a-suit.png");
  }

  &--department {
    // TODO: REMOVE DISPLAY: NONE WHEN I WILL MOVE TO REACT LOGIC DESCRIPTION
    display: none;
    background-color: #E6F1FE;
    background-image: url("../assets/img/a-woman-with-a-card.png");
  }
}

.promo-slider__title {
  margin: 0;

  font-size: 54px;
  line-height: 63px;
  font-weight: 700;
}

.promo-slider__item--credit .promo-slider__title {
  color: $light-gray;
}

.promo-slider__description {
  color: $lighter-black;
  font-size: 22px;
  line-height: 26px;
}

.promo-slider__item--credit .promo-slider__description {
  color: $light-gray;
}

.promo-slider__promo-button {
  font-size: 18px;
  line-height: 21px;
}

.promo-slider__buttons-list {
  @include list-reset;

  position: absolute;
  bottom: 40px;
  left: 50%;

  display: flex;
  align-items: flex-start;

  transform: translateX(-50%);
}

.promo-slider__buttons-item {
  display: flex;
}

.promo-slider__button {
  box-sizing: content-box;
  display: flex;
  width: 8px;
  height: 8px;

  padding: 4px;
  border: none;
  background-color: transparent;

  @include basic-hover;
  @include basic-active;
}

.promo-slider__icon {
  width: 8px;
  height: 8px;

  fill: $dark-blue;
}

.promo-slider__buttons-item--active .promo-slider__icon {
  fill: $light-gray;
}
