.promo-slider__list {
  @include list-reset;
}

.promo-slider__item {
  padding-top: 115px;
  padding-left: 268px;
  min-height: 400px;

  &--credit {
    background-color: $blue;
  }

  &--confidence {
    // TODO: REMOVE DISPLAY: NONE WHEN I WILL MOVE TO REACT LOGIC DESCRIPTION
    display: none;
    background-color: #DDE2EC;
  }

  &--department {
    // TODO: REMOVE DISPLAY: NONE WHEN I WILL MOVE TO REACT LOGIC DESCRIPTION
    display: none;
    background-color: #E6F1FE;
  }
}

.promo-slider__title {
  margin: 0;

  font-size: 54px;
  line-height: 63px;
  font-weight: 700;
}

.promo-slider__item--credit .promo-slider__title {
  color: $light-gray;
}

.promo-slider__description {
  color: $lighter-black;
  font-size: 22px;
  line-height: 26px;
}

.promo-slider__item--credit .promo-slider__description {
  color: $light-gray;
}

.promo-slider__promo-button {
  font-size: 18px;
  line-height: 21px;
}
