.tabs {
  @include list-reset;

  display: flex;
}

.tabs__button {
  width: 293px;
  min-height: 93px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;

  color: $black;
  background-color: white;
  border: none;

  &--active {
    background-color: $light-gray;
  }

  @include basic-hover;
  @include basic-active;
}
